.react-calendar {
    width: 573px;
    max-width: 100%;
    background: white;
    border: 1px solid #EBE7FF;
    border-radius: 5px;
    font-family: Rubik, sans-serif;
    line-height: 16.59px;
}
.react-calendar, .react-calendar *:before, .react-calendar *:after {
    box-sizing: border-box;
    background: #EBE7FF;
}
.react-calendar__navigation {
    display: flex;
    height: 44px;
    background: #7761FF;
    color: white;
    margin-bottom: 0;
}
.react-calendar__navigation button:disabled {
    background-color: #7761FF;
    color: white;
    text-transform: capitalize;
}
.react-calendar__navigation button {
    min-width: 44px;
    background: none;
    color: white;

}
.react-calendar__navigation > button:first-child {
    position: relative;
    left: 189px;
}

.react-calendar__navigation > button:last-child {
    position: relative;
    right: 189px;
}


.react-calendar__month-view__days__day--weekend {
    color: #000000;
}
.react-calendar__month-view__weekdays__weekday {
    padding: 0.5em;
    width: 17px;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    height: 37px;
}
abbr[title] {
    text-decoration: none;
}
.react-calendar__tile--now {
    background: white;
}
.react-calendar__month-view__weekdays {
    text-transform: none;
}

.react-calendar__month-view__weekdays abbr {
    text-transform: capitalize;
}

.react-calendar__tile > abbr {
    position: relative;
    right: 26px;
    bottom: 10px;
    color: black;
    font-size: 20px;
    line-height: 20px;
}

.react-calendar__month-view__days > button {
    padding: 0;
    width: 79px;
    height: 63px;
}

.react-calendar__tile:disabled {
    background-color:#EBE7FF;
}
.react-calendar__month-view__days__day--weekend:disabled {
    color: #00000040;
}

.react-calendar__tile--now ~ button, .future-month-view > button {
    background: white;
}
.record-notice {
    border: 1px solid #50CAFF;
    position: absolute;
    margin-left: 53px;
    color: white;
    background: #50CAFF;
    border-radius: 50%;
    width: 20px;
}
.react-calendar__tile--active:enabled:hover, .react-calendar__tile--active:enabled:focus {
    background: #FFFFFF;
    border: 1.5px solid #50CAFF;
}