
.main {
    display: inline-block;
    vertical-align: top;
    background: #FCFCFC;
    height: 768px;
    width: 1176px;
}

.hat {
    height: 55px;
    background: #50CAFF;
    color: #FFFFFF;
    font-size: 28px;
    line-height: 33px;
}

.p-1 {
    padding: 12px 0 10px 40px;
    display: inline-block;
}

.mask-group {
    display: inline-block;
    float: right;
    padding-right: 19px;
}

.mask-group-1 {
    vertical-align: text-top;
}

.mask-group-2 {
    box-sizing: border-box;
    width: 49px;
    height: 49px;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
}

.text-records {
    font-size: 16px;
    line-height: 19px;
    padding: 15px 0 15px 40px;
}

.doctor-record {
    display: inline-block;
    width: 475px;
    height: 174px;
    background: #FFFFFF;
    box-shadow: 0 0 5px #EBE7FF;
    border-radius: 5px;
    margin-left: 20px;
}

h1 {
    font-size: 16px;
    line-height: 19px;
}

.jk {
    width: 280px;
    height: 40px;
    font-size: 14px;
    line-height: 20px;
    padding: 5px 0 0 20px;
}

.text-info {
    padding: 35px 0 15px 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.info {
    display: inline-block;
    width: 540px;
    height: 183px;
    background: #FFFFFF;
    box-shadow: 0 0 5px #EBE7FF;
    border-radius: 5px;
    margin: 0 0 15px 20px;
    vertical-align: top;
}

.info2 {
    display: inline-block;
    width: 540px;
    height: 183px;
    background: #FFFFFF;
    box-shadow: 0 0 5px #EBE7FF;
    border-radius: 5px;
    margin: 0 0 15px 20px;
    vertical-align: top;
    border: 2px solid #50CAFF;
}

.info-img {
    display: inline-block;
    width: 133px;
    text-align: center;
    height: 100%;
}

.info-img2 {
    display: inline-block;
    width: 133px;
    text-align: center;
    height: 101%;
    background: #50CAFF;
    margin-left: -1px;
    margin-top: -1px;
}

.info-text {
    display: inline-block;
    height: 100%;
    width: 400px;
    vertical-align: top;
}

.info-img img,
.info-img2 img {
    margin-top: 67px;
}

.h1 {
    font-weight: 400;
    font-size: 28px;
    line-height: 33px;
    padding: 20px 24px 10px 36px;
}

.color {
    border: 2px solid #50CAFF;
}

.photo-doctor {
    display: inline-block;
    width: 61px;
    height: 85px;
    padding: 4px 0 0 20px;
}

.list {
    font-size: 16px;
    line-height: 24px;
    padding-left: 51px;
    padding-top: 15px;
}

.block-text {
    width: 324px;
    height: 48px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding: 20px 0 0 36px;
}

.more {
    display: inline-block;
    width: 91px;
    height: 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    vertical-align: top;
    padding-top: 60px;
}

.more a {
    color: #50CAFF;
    border-bottom: 1px solid #50CAFF;
}

.more a:hover {
    color: #003B72;
    border-bottom: 1px solid #003B72;
    border-left: none;
}

li {
    color: #50CAFF;
}

li span {
    color: black;
}

hr {
    width: 335px;
    border: 2px solid #EBE7FF;
    margin-left: 36px;
}

.group {
    display: inline-block;
    vertical-align: top;
    padding: 23px 0 0 9px;
}

.name {
    width: 96px;
    height: 17px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}

.job {
    height: 17px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #EBE7FF;
}

.button {
    display: inline-block;
    width: 98px;
    height: 40px;
    float: right;
    margin-top: 30px;
}
